

params {
     
     //-------------  genome options
     genome_fa = '/hpc/grid/wip_drm_targetsciences/users/shangzhong/publicDB/gatk_homo38_index/hg38.fasta'
     //-------------  global options
     vcf_path = '/hpc/grid/wip_drm_targetsciences/users/shangzhong/NIH_UDP/test'
     cpu = 16
     mem = 30  // in unit of GB

     loftee_path = '/hpc/grid/wip_drm_targetsciences/users/shangzhong/vep/loftee'
     vep_db = '/hpc/grid/wip_drm_targetsciences/users/shangzhong/publicDB/vep_db_97_GRCH38'
     singularity = '/hpc/grid/wip_drm_targetsciences/users/shangzhong/container/vep_loftee_97.4_gnomad_pLI.sif'
     CADD_SNV = '/hpc/grid/hgcb/workspace/projects/CADDv1_6/whole_genome_SNVs.tsv.gz'
     CADD_INDEL = '/hpc/grid/hgcb/workspace/projects/CADDv1_6/gnomad.genomes.r3.0.indel.tsv.gz'
     
}
