

params {
     
     //-------------  genome options
     genome_fa = '/hpc/grid/wip_drm_targetsciences/users/shangzhong/publicDB/gatk_homo38_index/hg38.fasta'
     //-------------  global options
     vcf_path = '/lustre/scratch/lis262/anno/schizo'
     cpu = 16
     mem = 30  // in unit of GB

     loftee_path = '/hpc/grid/wip_drm_targetsciences/projects/VEP_plugin/loftee_grch38'
     vep_db = '/hpc/grid/wip_drm_targetsciences/projects/VEP_plugin/vep_db_101_GRCH38'
     CADD_SNV = '/hpc/grid/hgcb/workspace/projects/CADDv1_6/whole_genome_SNVs.tsv.gz'
     CADD_INDEL = '/hpc/grid/hgcb/workspace/projects/CADDv1_6/gnomad.genomes.r3.0.indel.tsv.gz'
     gnomADe = '/hpc/grid/wip_drm_targetsciences/projects/gnomAD/gnomad_v2/GRCh38/gnomad.exomes.r2.1.1.sites.liftover_grch38.vcf.gz'
     gnomADg = '/hpc/grid/wip_drm_targetsciences/projects/gnomAD/gnomad_v3/gnomad.genomes.v3.1.sites.vcf.gz'
}


process {
        withName:VEP_annotate {
              container = '/hpc/grid/wip_drm_targetsciences/users/shangzhong/container/vep_loftee_101.0_gnomad_pLI.sif'
    }
}
singularity {
    enabled = true
    autoMounts = true
}
